{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>IMECAFF</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_style.css' %}">
	<script>
		$.getJSON('https://ipapi.co/json', function(data) {
			console.log(data['country']);
		});
	</script>
</head>
<body>
	
	<div class="container">
		<img src="{% static 'images/logo.png' %}">
		<h1>Welcome to {{ name }}</h1>
		<div class="search_panel">
			<form id="imecaff-search" action="{% url 'result' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label class="imecaff-header" for="user-input">A relevant affiliates/B2B partners: search and recruit service</label>
                    <input id="user-input" class="form-control" name="search" placeholder="Search" autofocus required>
                </div>
				<div class="form-group">
					<select name="market-code" class="form-control">
						<option value="en-US">Choose country and language</option>
						{% for element in market_codes %}
							{% for codes in element.items %}
									<option value="{{codes.1}}">{{codes.0}}</option>
							{% endfor %}
						{% endfor %}
					</select>
					<small id="market-code-help" class="form-text text-muted">If nothing choosed English - US is default</small>
				</div>
				<div class="form-group">
					<select name="customer-type" class="form-control">
						<option value="affiliates">affilates</option>
						<option value="drop_shipper">drop shipper</option>
						<option value="amazon">amazon</option>
						<option value="retailer">retailer</option>
					</select>
					<small id="customer-type-help" class="form-text text-muted">Choose customer type. Affiliates is a default option</small>
				</div>

				<div class="form-group" >
					<select id="filtering-method" name="filtering-type" class="form-control" onchange="changeVisability(this.value)">
						<option value="default">default</option>
						<option value="no-filtering">no filtering</option>
						<option value="custom">custom</option>
					</select>
					<small id="filtering-type-help" class="form-text text-muted">Choose filtering method type. Defaultly filtering according to your customer type</small>
				</div>

				<div class="form-check" id="filtering-points">
					<input type="checkbox" class="form-check-input" name="banners">
					<label class="form-check-label" for="banners">Banners</label>
					<br>
					<input type="checkbox" class="form-check-input" name="social_media">
					<label class="form-check-label" for="social-media">Social media</label>
					<br>
					<input type="checkbox" class="form-check-input" name="emails">
					<label class="form-check-label" for="emails">Emails</label>
					<br>
					<input type="checkbox" class="form-check-input" name="mailing_list">
					<label class="form-check-label" for="mailing-list">Mailing list</label>
					<br>
					<!--<input type="checkbox" class="form-check-input" name="alexa_ranking">-->
					<!--<label class="form-check-label" for="alexa-ranking">Alexa ranking</label>-->
					<!--<br>-->
					<small id="custom-filtering-help" class="form-text text-muted">Choose which parameters to filter</small>
				</div>

				<div class="form-check" id="number-of_results">
					<label class="form-check-label" for="number-of_results">Number of results</label>
					<input type="range" min="50" max="500" value="50" step="50" class="slider" name="number-of-results" id="results-range">
					<p class="show-results">Value: <span id="results-amount"></span></p>
					<small id="number-results-help" class="form-text text-muted">Choose how many results you want to parse</small>
				</div>

				<button type="imecaff-submit" class="btn btn-primary" >Submit</button>
			</form>
		</div>
	</div>
</body>
</html>

<script>
	document.getElementById("filtering-points").style.display = 'none';

	$('#nofilt').on("change", function ifnoFiltering() {
	    console.log('clicked');
	    if(document.getElementById("nofilt").checked) {
            document.getElementById("filtering-points").style.display = 'none';
        }
        else {
            document.getElementById("filtering-points").style.display = 'block';
		}
    })

	function changeVisability(val){
	    if (val == 'custom') {
            document.getElementById("filtering-points").style.display = 'block';
        }else {
	        document.getElementById("filtering-points").style.display = 'none';
		}
	}

	var slider = document.getElementById("results-range");
	var output = document.getElementById("results-amount");
	output.innerHTML = slider.value;

	slider.oninput = function() {
		output.innerHTML = this.value;
	}

</script>