{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>IMECAFF RESULTS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
		.short-link {
			display: inline-block;
			width: 250px;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}

		ul {
			list-style-type: none;
			padding: 0 10px;
			margin-bottom: 0;
		}

		table td, th {
			vertical-align: middle !important;
		}

		table th {
			text-align: center;
			text-overflow: ellipsis;
	    	overflow: hidden;
		}

		.container-fluid {
			margin-top: 20px;
		}

		.banners-style {
			width: 9em;
		}

		.nothing-found {
		    text-align: center;
    		margin: 50px;
		}
	</style>

</head>
<body onLoad="buildHtmlTable('#DataTable')">
	<div class="container header-fixed">
		<img src="{% static 'images/logo.png' %}">

		<form action="{% url 'main' %}">
			<h1>Search results for <span style="color: red;">{{search_request}}</span</h1>
			<button type="imecaff-return" class="btn btn-primary" >New search</button>
		</form>
		{% if json_results %}
			<form>
				<button id="save_csv_raw" type="imecaff-download" class="btn btn-primary">Download raw *.csv</button>
			</form>
			<form>
				<button id="save_csv_pivot" type="imecaff-download" class="btn btn-primary">Download for pivot *.csv</button>
			</form>
		{% endif %}
	</div>

	{% if json_results %}

		<div class="container-fluid">
			<div class="table-responsive">
				<table class="table table-hover table-bordered ">
					<tr>
						<th>link</th>
						{% for header in json_results.items %}
							{% if forloop.first %}
								{% for headers in header.1.items %}
									<th>{{headers.0}}</th>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</tr>
					<tr class="justify-content-md-center">
					{% for element in json_results.items %}
						<tr>
							<td><a href="{{element.0}}" class="short-link">{{element.0}}</a></td>
							{% for content in element.1.items %}
								<td>
									<ul>
										{% if content.1 == '' %}
											<li>-</li>
										{% else %}
											{% if content.0 == 'emails' %}
												{% for item in content.1 %}
													<li><a href="{{item}}" class="short-link">{{item}}</a></li>
												{% endfor %}
											{% elif content.0 == "social_media" %}
												{% for item in content.1 %}
													<li><a href="{{item}}" class="short-link">{{item}}</a></li>
												{% endfor %}
											{% elif content.0 == "banners" %}
												{% for key, item in content.1.items %}
													<li class="banners-style">{{key}} : {{item}}</li>
												{% endfor %}
											{% else %}
												<li>{{content.1}}</li>
											{% endif %}
										{% endif %}
									</ul>
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

	{% else %}
		<h3 class="nothing-found">Ups... Seems like nothing was found or was removed due to lack of information...</h3>
	{% endif %}



</body>
</html>

<script>

	function download(data, filename, type) {
	    var file = new Blob([data], {type: type});
	    if (window.navigator.msSaveOrOpenBlob) // IE10+
	        window.navigator.msSaveOrOpenBlob(file, filename);
	    else { // Others
	        var a = document.createElement("a"),
	    	url = URL.createObjectURL(file);
	        a.href = url;
	        a.download = filename;
	        document.body.appendChild(a);
	        a.click();
	        setTimeout(function() {
	            document.body.removeChild(a);
	            window.URL.revokeObjectURL(url);
	        }, 0);
	    }
	}

	$(document).ready(function(){

	    $("#save_csv_raw").click(function(event){
			event.preventDefault();
			let json_input_raw = {{csv_file_raw|safe}};
			let csv = json_input_raw.map( function(d){
				return d.join();
			}).join( '\n' );
			download(csv, 'imecaff_results_raw.csv');
		});

	    $("#save_csv_pivot").click(function(event){
			event.preventDefault();
			let json_input_pivot = {{csv_file_pivot|safe}};
			let csv = json_input_pivot.map( function(d){
				return d.join();
			}).join( '\n' );
			download(csv, 'imecaff_results_pivot.csv');
		});
	});

</script>
